
<div>
<br>
<%=@next%>

Hello, <%=current_user.name %>

This is the profile for <%=@user.name%>


<%if @user == current_user %>
<%=link_to "edit your profile", edit_user_path(@user) %> <br>
<%end%>
</div>

<div>

	<%current_user.bots.all.each do |n| %>
		<%=n.name%>
		
		<% if n.question_answers.count !=0 %>

			<%n.question_answers.all.each do |y|%>
				<%=y.id%>
			<%end%>
		<%else%>
			create a story board for it
				
		<%end%>
	<%end%>

</div>